body{
    margin: 0px;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height:370px;
    background-image: url("header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

h1{                     /* titre du site : Voyages & Co”*/
    font-size: 60px;
}
a:link 
{ 
 text-decoration:none; 
} 

ul{
    display: flex;
    justify-content: space-between;    
    align-items: center;
    height: 60px;
    margin-top: -6px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: rgb(128, 213, 235);
    font-family: 'Arial Narrow Bold', sans-serif;
    list-style:none;}


p{
    font: size 15px;/* pourquoi la taille et le font size ne changent pas alors que l'aligneme,t oui ?*/
    text-align: left;
    max-width: 400px;
    background-color: rgb(191, 177, 243);
    padding: 60px;}
